.homepage {
    height: 100vh;
    
}

.whitespace{

    height: 60px;
}

/*Posting*/
.unsvg{
    fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
    border: 1.2px solid grey;
}


.post-text {
    margin: 30px;
    color: rgba(128, 128, 128, 0.4);
    width: 70%;
}

.post-section {
    background-color: rgba(128, 128, 128, 0.356);
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    margin: 30px;

}

.post-section p {
    margin-top: 7%;
    color:black;
}