
.p-information{
    display:flex;
    justify-content: space-between;

}

.p-username{
    margin-top: 10px;
    font-size: 30px;

}
.handle{

    display: flex;

}
.p-handle{
    margin-top: 0px;
    margin-bottom: 0px;

}
.thread-net{
    width:-moz-fit-content;
    width:fit-content;
    background-color: rgba(128, 128, 128, 0.708);
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:1px;
    font-size:x-small;

    border-radius: 100px;
    color: rgb(218, 207, 207);
}
.p-image{
    border: 1px solid grey;
    border-radius:100%;
    width: 80px;
    height:80px;
    margin-right: 10px;

}
.p-descr{

    margin-right: 20%;
}
.p-stats{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

.instagram svg{
    width:20px;
    height:20px;
}

.edit-profile{
    border:1px solid rgba(255, 255, 255, 0.301);
    border-radius: 7px;
    height:24px;
    text-align: center;
    padding-top:5px;
    
    margin: 10px;
}
.p-nav{
    display: flex;
}
.btn{
    width:calc(100%/3) ;
    height: 40px;
    text-align:center;
    padding-top: 20px;
    border-bottom: 1px solid grey;
    color:grey;
}

.active-tab{
    color: white;
    border-bottom: 1px solid white;
}

.p_threads{

    text-align: center;
}

.p_replies{

    text-align: center;
}

.p_reposts{

    text-align: center;
}

.subgrouping div{
    padding-top: 100px;
}

.instagram{
    transition: ease-in-out 0.3s;
    border-radius: 100px;
}
.instagram:hover{
    transition: ease-in-out 0.3s;
    background-color: rgba(128, 128, 128, 0.4);
}